asgiref==3.6.0
asttokens==2.2.1
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
backcall==0.2.0
branca==0.6.0
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
charset-normalizer==3.1.0
colorama==0.4.6
constantly==15.1.0
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
daphne==4.0.0
decorator==5.1.1
Django==4.2.1
django-cors-headers==4.0.0
executing==1.2.0
folium==0.14.0
fonttools==4.39.4
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipython==8.13.2
jedi==0.18.2
Jinja2==3.1.2
jsonpickle==3.0.1
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mpld3==0.5.9
numpy==1.24.3
packaging==23.1
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.38
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.15.1
pyOpenSSL==23.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
pyvis==0.3.2
requests==2.30.0
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.2
traitlets==5.9.0
Twisted==22.10.0
twisted-iocpsupport==1.0.3
txaio==23.1.1
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
wcwidth==0.2.6
zope.interface==6.0
