<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0fb1a07a0fe956c27fb5a74d74587f6f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    <div style="position: fixed; bottom: 50px; left: 50px; z-index:9999; font-size:14px;"><p><span style="background-color:#6c6c2c;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Kātpādi</p><p><span style="background-color:#fb1658;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> None</p><p><span style="background-color:#1d656e;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Saint Thomas Mount</p><p><span style="background-color:#023d76;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> New Delhi</p><p><span style="background-color:#6d9166;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Gurgaon</p><p><span style="background-color:#60ecef;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Mumbai</p></div>
    
            <div class="folium-map" id="map_0fb1a07a0fe956c27fb5a74d74587f6f" ></div>
        
</body>
<script>
    
    
            var map_0fb1a07a0fe956c27fb5a74d74587f6f = L.map(
                "map_0fb1a07a0fe956c27fb5a74d74587f6f",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8db7cc30e37861ea40fb7e32855a1b5a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var marker_6ea0a8b81d2d58c2e95adb0586830ac3 = L.marker(
                [12.995479583740234, 79.14990997314453],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_d83d61855be2a16382135e4894af3679 = L.popup({"maxWidth": "100%"});

        
            
                var html_2ae880dc4671e511706fc53d38bf7713 = $(`<div id="html_2ae880dc4671e511706fc53d38bf7713" style="width: 100.0%; height: 100.0%;">Kātpādi, Tamil Nadu, India</div>`)[0];
                popup_d83d61855be2a16382135e4894af3679.setContent(html_2ae880dc4671e511706fc53d38bf7713);
            
        

        marker_6ea0a8b81d2d58c2e95adb0586830ac3.bindPopup(popup_d83d61855be2a16382135e4894af3679)
        ;

        
    
    
            var marker_4e6fe7a1cffceff2c945781f0248115f = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_2bb802c8b54d8e2808fb00a6da5efce7 = L.popup({"maxWidth": "100%"});

        
            
                var html_c31cdaa0fcc04988383504530d24b720 = $(`<div id="html_c31cdaa0fcc04988383504530d24b720" style="width: 100.0%; height: 100.0%;">None, None, None</div>`)[0];
                popup_2bb802c8b54d8e2808fb00a6da5efce7.setContent(html_c31cdaa0fcc04988383504530d24b720);
            
        

        marker_4e6fe7a1cffceff2c945781f0248115f.bindPopup(popup_2bb802c8b54d8e2808fb00a6da5efce7)
        ;

        
    
    
            var marker_71d601f9b733197823c671c2add48179 = L.marker(
                [12.995479583740234, 79.14990997314453],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_2a88fc42f4988ffdcdfac0cc4e82c05b = L.popup({"maxWidth": "100%"});

        
            
                var html_aae0e0f77770beb7bf593a013583ebcc = $(`<div id="html_aae0e0f77770beb7bf593a013583ebcc" style="width: 100.0%; height: 100.0%;">Kātpādi, Tamil Nadu, India</div>`)[0];
                popup_2a88fc42f4988ffdcdfac0cc4e82c05b.setContent(html_aae0e0f77770beb7bf593a013583ebcc);
            
        

        marker_71d601f9b733197823c671c2add48179.bindPopup(popup_2a88fc42f4988ffdcdfac0cc4e82c05b)
        ;

        
    
    
            var marker_8853b3870434a2f98f5d8b7c57d6bf25 = L.marker(
                [13.052399635314941, 80.25080108642578],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_91a2043a4765ad357cd1edcfd94de60b = L.popup({"maxWidth": "100%"});

        
            
                var html_820173cd9a4a9c8c605122a3323002ca = $(`<div id="html_820173cd9a4a9c8c605122a3323002ca" style="width: 100.0%; height: 100.0%;">Saint Thomas Mount, Tamil Nadu, India</div>`)[0];
                popup_91a2043a4765ad357cd1edcfd94de60b.setContent(html_820173cd9a4a9c8c605122a3323002ca);
            
        

        marker_8853b3870434a2f98f5d8b7c57d6bf25.bindPopup(popup_91a2043a4765ad357cd1edcfd94de60b)
        ;

        
    
    
            var marker_641527d5175f00d0342c8c1ecc1d48fc = L.marker(
                [28.542800903320312, 77.28050231933594],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_27e7fe6cb00f38d8282978ebd469c261 = L.popup({"maxWidth": "100%"});

        
            
                var html_e805e7b941db1e1f71354479be3e534f = $(`<div id="html_e805e7b941db1e1f71354479be3e534f" style="width: 100.0%; height: 100.0%;">New Delhi, Delhi, India</div>`)[0];
                popup_27e7fe6cb00f38d8282978ebd469c261.setContent(html_e805e7b941db1e1f71354479be3e534f);
            
        

        marker_641527d5175f00d0342c8c1ecc1d48fc.bindPopup(popup_27e7fe6cb00f38d8282978ebd469c261)
        ;

        
    
    
            var marker_0ed3db176b394270e3a3d5946c90f1f6 = L.marker(
                [28.542800903320312, 77.28050231933594],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_db3cf29be4e0b754a300742e52f1df75 = L.popup({"maxWidth": "100%"});

        
            
                var html_99f8201c5d26ba8d2b4c8e1a9916d7f4 = $(`<div id="html_99f8201c5d26ba8d2b4c8e1a9916d7f4" style="width: 100.0%; height: 100.0%;">New Delhi, Delhi, India</div>`)[0];
                popup_db3cf29be4e0b754a300742e52f1df75.setContent(html_99f8201c5d26ba8d2b4c8e1a9916d7f4);
            
        

        marker_0ed3db176b394270e3a3d5946c90f1f6.bindPopup(popup_db3cf29be4e0b754a300742e52f1df75)
        ;

        
    
    
            var marker_6805a5279b0b043a516de8684702c66b = L.marker(
                [28.45949935913086, 77.02660369873047],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_25a38b6aa923e13e39324a77b1c2d961 = L.popup({"maxWidth": "100%"});

        
            
                var html_7ccf4c446a4b11ce25110e7d87a56dea = $(`<div id="html_7ccf4c446a4b11ce25110e7d87a56dea" style="width: 100.0%; height: 100.0%;">Gurgaon, Haryana, India</div>`)[0];
                popup_25a38b6aa923e13e39324a77b1c2d961.setContent(html_7ccf4c446a4b11ce25110e7d87a56dea);
            
        

        marker_6805a5279b0b043a516de8684702c66b.bindPopup(popup_25a38b6aa923e13e39324a77b1c2d961)
        ;

        
    
    
            var marker_88f6a9a26c085f22f5de9c8f5401f7f9 = L.marker(
                [19.076000213623047, 72.87770080566406],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_a05d8570556e34e2dada5956dc9f34d9 = L.popup({"maxWidth": "100%"});

        
            
                var html_8463b262306ba2ecf5a7cf93e5a3b764 = $(`<div id="html_8463b262306ba2ecf5a7cf93e5a3b764" style="width: 100.0%; height: 100.0%;">Mumbai, Maharashtra, India</div>`)[0];
                popup_a05d8570556e34e2dada5956dc9f34d9.setContent(html_8463b262306ba2ecf5a7cf93e5a3b764);
            
        

        marker_88f6a9a26c085f22f5de9c8f5401f7f9.bindPopup(popup_a05d8570556e34e2dada5956dc9f34d9)
        ;

        
    
    
            var marker_b93b10984d6fb58e62de197f3c7ca010 = L.marker(
                [28.635299682617188, 77.2249984741211],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_4e06d68571305b7def6110d5cee3a6ff = L.popup({"maxWidth": "100%"});

        
            
                var html_da12d7a6a0d4e338c2b9176a5ed109e8 = $(`<div id="html_da12d7a6a0d4e338c2b9176a5ed109e8" style="width: 100.0%; height: 100.0%;">New Delhi, Delhi, India</div>`)[0];
                popup_4e06d68571305b7def6110d5cee3a6ff.setContent(html_da12d7a6a0d4e338c2b9176a5ed109e8);
            
        

        marker_b93b10984d6fb58e62de197f3c7ca010.bindPopup(popup_4e06d68571305b7def6110d5cee3a6ff)
        ;

        
    
    
            var marker_e74ed29600f81a635b607823e996d018 = L.marker(
                [28.635299682617188, 77.2249984741211],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_0de7b054095ebcf415e7a27022759084 = L.popup({"maxWidth": "100%"});

        
            
                var html_c21507953c46da778c59f31fe12ad3ae = $(`<div id="html_c21507953c46da778c59f31fe12ad3ae" style="width: 100.0%; height: 100.0%;">New Delhi, Delhi, India</div>`)[0];
                popup_0de7b054095ebcf415e7a27022759084.setContent(html_c21507953c46da778c59f31fe12ad3ae);
            
        

        marker_e74ed29600f81a635b607823e996d018.bindPopup(popup_0de7b054095ebcf415e7a27022759084)
        ;

        
    
    
            var marker_e9717d401327200c662c1047b500eb3b = L.marker(
                [12.995479583740234, 79.14990997314453],
                {}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
        var popup_6defe90f3e72cf279cec0c984ea8c66b = L.popup({"maxWidth": "100%"});

        
            
                var html_9e1b1bf73ab179e22104f773923637b5 = $(`<div id="html_9e1b1bf73ab179e22104f773923637b5" style="width: 100.0%; height: 100.0%;">Kātpādi, Tamil Nadu, India</div>`)[0];
                popup_6defe90f3e72cf279cec0c984ea8c66b.setContent(html_9e1b1bf73ab179e22104f773923637b5);
            
        

        marker_e9717d401327200c662c1047b500eb3b.bindPopup(popup_6defe90f3e72cf279cec0c984ea8c66b)
        ;

        
    
    
            var circle_marker_4af40849485efa132830a7d2ef942a41 = L.circleMarker(
                [12.995479583740234, 79.14990997314453],
                {"bubblingMouseEvents": true, "color": "#6c6c2c", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#6c6c2c", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_48a8558f7db48bb70c5fa159188971d6 = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_59bcc14d0a0ac062e461c93939cd4038 = L.circleMarker(
                [12.995479583740234, 79.14990997314453],
                {"bubblingMouseEvents": true, "color": "#6c6c2c", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#6c6c2c", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_68e30eef7e7b182acec4962035a42036 = L.circleMarker(
                [13.052399635314941, 80.25080108642578],
                {"bubblingMouseEvents": true, "color": "#1d656e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#1d656e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_9ea26457465d3c61a4f329ce91d852ef = L.circleMarker(
                [28.542800903320312, 77.28050231933594],
                {"bubblingMouseEvents": true, "color": "#023d76", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#023d76", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_548fa31734b6aab7157a6c82ca8407b2 = L.circleMarker(
                [28.542800903320312, 77.28050231933594],
                {"bubblingMouseEvents": true, "color": "#023d76", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#023d76", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_2b6b81b2a263585642c36647a2a62c4d = L.circleMarker(
                [28.45949935913086, 77.02660369873047],
                {"bubblingMouseEvents": true, "color": "#6d9166", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#6d9166", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_0fcb4d7975d5fa7635bf708cbc4ed462 = L.circleMarker(
                [19.076000213623047, 72.87770080566406],
                {"bubblingMouseEvents": true, "color": "#60ecef", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#60ecef", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_9a02bed163062abbcea001be22100e1f = L.circleMarker(
                [28.635299682617188, 77.2249984741211],
                {"bubblingMouseEvents": true, "color": "#023d76", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#023d76", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_a9fe6863e9055571f19af715267cf155 = L.circleMarker(
                [28.635299682617188, 77.2249984741211],
                {"bubblingMouseEvents": true, "color": "#023d76", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#023d76", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var circle_marker_656f9897607ac2159d65db1f904f2598 = L.circleMarker(
                [12.995479583740234, 79.14990997314453],
                {"bubblingMouseEvents": true, "color": "#6c6c2c", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#6c6c2c", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_063b913c00c921b5d64cba7b7f2de957 = L.polyline(
                [[12.995479583740234, 79.14990997314453], [0.0, 0.0]],
                {"bubblingMouseEvents": true, "color": "#6c6c2c", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#6c6c2c", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_1a10935d6498b985bbd8635baa3676f8 = L.polyline(
                [[0.0, 0.0], [12.995479583740234, 79.14990997314453]],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_e5ab0fa1c6cfaa64196b1d56af759dbc = L.polyline(
                [[12.995479583740234, 79.14990997314453], [13.052399635314941, 80.25080108642578]],
                {"bubblingMouseEvents": true, "color": "#6c6c2c", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#6c6c2c", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_674992e7278081162f733fe9aa403c9c = L.polyline(
                [[13.052399635314941, 80.25080108642578], [28.542800903320312, 77.28050231933594]],
                {"bubblingMouseEvents": true, "color": "#1d656e", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#1d656e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_b982f891a253abfaf01c339d935fa980 = L.polyline(
                [[28.542800903320312, 77.28050231933594], [28.542800903320312, 77.28050231933594]],
                {"bubblingMouseEvents": true, "color": "#023d76", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#023d76", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_a395cd191830daee1bea3193993a841a = L.polyline(
                [[28.542800903320312, 77.28050231933594], [28.45949935913086, 77.02660369873047]],
                {"bubblingMouseEvents": true, "color": "#023d76", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#023d76", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_a01e6f805c05befeb8a47206547aa349 = L.polyline(
                [[28.45949935913086, 77.02660369873047], [19.076000213623047, 72.87770080566406]],
                {"bubblingMouseEvents": true, "color": "#6d9166", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#6d9166", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_121369c03c0635604710e9bef60c0fb5 = L.polyline(
                [[19.076000213623047, 72.87770080566406], [28.635299682617188, 77.2249984741211]],
                {"bubblingMouseEvents": true, "color": "#60ecef", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#60ecef", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_72f3121da1d0efc089e08f89f61f6919 = L.polyline(
                [[28.635299682617188, 77.2249984741211], [28.635299682617188, 77.2249984741211]],
                {"bubblingMouseEvents": true, "color": "#023d76", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#023d76", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
    
            var poly_line_54c8bbd47324c9cf9e63c3d1923b916e = L.polyline(
                [[28.635299682617188, 77.2249984741211], [12.995479583740234, 79.14990997314453]],
                {"bubblingMouseEvents": true, "color": "#023d76", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#023d76", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0fb1a07a0fe956c27fb5a74d74587f6f);
        
</script>
</html>