<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_09f3669c70e96aee112aa004d5a675cd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    <div style="position: fixed; bottom: 50px; left: 50px; z-index:9999; font-size:14px;"><p><span style="background-color:#433d52;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> San Jose</p><p><span style="background-color:#fb1658;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> None</p><p><span style="background-color:#fa604f;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Palo Alto</p><p><span style="background-color:#3aa41c;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Jammu</p><p><span style="background-color:#0eb9d2;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> New Delhi</p><p><span style="background-color:#83a3dd;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Mumbai</p></div>
    
            <div class="folium-map" id="map_09f3669c70e96aee112aa004d5a675cd" ></div>
        
</body>
<script>
    
    
            var map_09f3669c70e96aee112aa004d5a675cd = L.map(
                "map_09f3669c70e96aee112aa004d5a675cd",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dbee0792b8f2ad724c2c7dd631a765fa = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var marker_943a77cd526acfa5f79faf8984bc8f20 = L.marker(
                [37.330528259277344, -121.83822631835938],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_4c4af79db8445500554de791d5203fbf = L.popup({"maxWidth": "100%"});

        
            
                var html_d45b0d2b85b4baea197debc8984908a5 = $(`<div id="html_d45b0d2b85b4baea197debc8984908a5" style="width: 100.0%; height: 100.0%;">San Jose, California, United States</div>`)[0];
                popup_4c4af79db8445500554de791d5203fbf.setContent(html_d45b0d2b85b4baea197debc8984908a5);
            
        

        marker_943a77cd526acfa5f79faf8984bc8f20.bindPopup(popup_4c4af79db8445500554de791d5203fbf)
        ;

        
    
    
            var marker_b19ec7c45bb8cfeb67e3dc450687cf86 = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_8b5a0e694fd29aeb2a0d558c19a133a4 = L.popup({"maxWidth": "100%"});

        
            
                var html_8767115c82e41ed76b23ecb25bdf5693 = $(`<div id="html_8767115c82e41ed76b23ecb25bdf5693" style="width: 100.0%; height: 100.0%;">None, None, None</div>`)[0];
                popup_8b5a0e694fd29aeb2a0d558c19a133a4.setContent(html_8767115c82e41ed76b23ecb25bdf5693);
            
        

        marker_b19ec7c45bb8cfeb67e3dc450687cf86.bindPopup(popup_8b5a0e694fd29aeb2a0d558c19a133a4)
        ;

        
    
    
            var marker_961a577ea8619c172b1838866be57c40 = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_7abca226447d1ae56d7da1983a15fa25 = L.popup({"maxWidth": "100%"});

        
            
                var html_dcab43c24380d2e4fa4ebf9a777a4f39 = $(`<div id="html_dcab43c24380d2e4fa4ebf9a777a4f39" style="width: 100.0%; height: 100.0%;">None, None, None</div>`)[0];
                popup_7abca226447d1ae56d7da1983a15fa25.setContent(html_dcab43c24380d2e4fa4ebf9a777a4f39);
            
        

        marker_961a577ea8619c172b1838866be57c40.bindPopup(popup_7abca226447d1ae56d7da1983a15fa25)
        ;

        
    
    
            var marker_86693b2fa86798b6712aecbe6661986e = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_b79bbd2e28013338085ec167fa757a29 = L.popup({"maxWidth": "100%"});

        
            
                var html_2e0f1be981d9374fdf78ad9bf41533d1 = $(`<div id="html_2e0f1be981d9374fdf78ad9bf41533d1" style="width: 100.0%; height: 100.0%;">None, None, None</div>`)[0];
                popup_b79bbd2e28013338085ec167fa757a29.setContent(html_2e0f1be981d9374fdf78ad9bf41533d1);
            
        

        marker_86693b2fa86798b6712aecbe6661986e.bindPopup(popup_b79bbd2e28013338085ec167fa757a29)
        ;

        
    
    
            var marker_0677a066559acc14c9f95c740ec189a1 = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_5b448bfb3b7b2aa00c409391eeeaa9d6 = L.popup({"maxWidth": "100%"});

        
            
                var html_8f0c4fb4712c4a24f47db0dc34403006 = $(`<div id="html_8f0c4fb4712c4a24f47db0dc34403006" style="width: 100.0%; height: 100.0%;">None, None, None</div>`)[0];
                popup_5b448bfb3b7b2aa00c409391eeeaa9d6.setContent(html_8f0c4fb4712c4a24f47db0dc34403006);
            
        

        marker_0677a066559acc14c9f95c740ec189a1.bindPopup(popup_5b448bfb3b7b2aa00c409391eeeaa9d6)
        ;

        
    
    
            var marker_255c285fcf63e054b990791f533cf46b = L.marker(
                [37.404319763183594, -122.16726684570312],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_93e7207f625de6869245e499acc98cd1 = L.popup({"maxWidth": "100%"});

        
            
                var html_cc8149592025fca1944f35101a1ca483 = $(`<div id="html_cc8149592025fca1944f35101a1ca483" style="width: 100.0%; height: 100.0%;">Palo Alto, California, United States</div>`)[0];
                popup_93e7207f625de6869245e499acc98cd1.setContent(html_cc8149592025fca1944f35101a1ca483);
            
        

        marker_255c285fcf63e054b990791f533cf46b.bindPopup(popup_93e7207f625de6869245e499acc98cd1)
        ;

        
    
    
            var marker_9792bbcace6740d36071c1d00bae6323 = L.marker(
                [32.726600646972656, 74.85700225830078],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_22ff36fe2d83725be00ddf7d13b8686d = L.popup({"maxWidth": "100%"});

        
            
                var html_9a9b193ba0909adbdc2aa2d165f139f0 = $(`<div id="html_9a9b193ba0909adbdc2aa2d165f139f0" style="width: 100.0%; height: 100.0%;">Jammu, Jammu and Kashmir, India</div>`)[0];
                popup_22ff36fe2d83725be00ddf7d13b8686d.setContent(html_9a9b193ba0909adbdc2aa2d165f139f0);
            
        

        marker_9792bbcace6740d36071c1d00bae6323.bindPopup(popup_22ff36fe2d83725be00ddf7d13b8686d)
        ;

        
    
    
            var marker_9c9f971c727ae3e02f791d5949fd2fe2 = L.marker(
                [28.542800903320312, 77.28050231933594],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_1670a0689c5d38a476dff9713bb8610d = L.popup({"maxWidth": "100%"});

        
            
                var html_a54537b45482d3f5c34f8590af70fa34 = $(`<div id="html_a54537b45482d3f5c34f8590af70fa34" style="width: 100.0%; height: 100.0%;">New Delhi, Delhi, India</div>`)[0];
                popup_1670a0689c5d38a476dff9713bb8610d.setContent(html_a54537b45482d3f5c34f8590af70fa34);
            
        

        marker_9c9f971c727ae3e02f791d5949fd2fe2.bindPopup(popup_1670a0689c5d38a476dff9713bb8610d)
        ;

        
    
    
            var marker_7c4307a112d975d698ddc97b10cef852 = L.marker(
                [19.076000213623047, 72.87770080566406],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_4dae9055cfc9a396aeab1f13560c89a0 = L.popup({"maxWidth": "100%"});

        
            
                var html_29618ee38583496c508da4811e368fdb = $(`<div id="html_29618ee38583496c508da4811e368fdb" style="width: 100.0%; height: 100.0%;">Mumbai, Maharashtra, India</div>`)[0];
                popup_4dae9055cfc9a396aeab1f13560c89a0.setContent(html_29618ee38583496c508da4811e368fdb);
            
        

        marker_7c4307a112d975d698ddc97b10cef852.bindPopup(popup_4dae9055cfc9a396aeab1f13560c89a0)
        ;

        
    
    
            var marker_02a3097c1068208b18f5349ef4ab32d5 = L.marker(
                [37.330528259277344, -121.83822631835938],
                {}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
        var popup_17d75c6acc375c46c815f871cc84ad7a = L.popup({"maxWidth": "100%"});

        
            
                var html_4279d50c65b3ef95aaeb9cada814849a = $(`<div id="html_4279d50c65b3ef95aaeb9cada814849a" style="width: 100.0%; height: 100.0%;">San Jose, California, United States</div>`)[0];
                popup_17d75c6acc375c46c815f871cc84ad7a.setContent(html_4279d50c65b3ef95aaeb9cada814849a);
            
        

        marker_02a3097c1068208b18f5349ef4ab32d5.bindPopup(popup_17d75c6acc375c46c815f871cc84ad7a)
        ;

        
    
    
            var circle_marker_adc5cf8f8918e30654789e5617eed765 = L.circleMarker(
                [37.330528259277344, -121.83822631835938],
                {"bubblingMouseEvents": true, "color": "#433d52", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#433d52", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var circle_marker_e0654dc7e424df2d1171f9e57d6fc176 = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var circle_marker_b886a9ea329a1c64c059984047ceb4b2 = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var circle_marker_427d5e2542d2c44394cb17066722bedd = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var circle_marker_fdbc321eb7a9d2db2a5fafffb412b737 = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var circle_marker_ca749668aaee09f2734df664901e81cb = L.circleMarker(
                [37.404319763183594, -122.16726684570312],
                {"bubblingMouseEvents": true, "color": "#fa604f", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#fa604f", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var circle_marker_1c8f46d954bd95384f9fb0b2a8df6f00 = L.circleMarker(
                [32.726600646972656, 74.85700225830078],
                {"bubblingMouseEvents": true, "color": "#3aa41c", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3aa41c", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var circle_marker_97982d26febd3607bc9dff7b46d9760a = L.circleMarker(
                [28.542800903320312, 77.28050231933594],
                {"bubblingMouseEvents": true, "color": "#0eb9d2", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#0eb9d2", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var circle_marker_cda7a4e1bc54c52cc0e723ac02fd170d = L.circleMarker(
                [19.076000213623047, 72.87770080566406],
                {"bubblingMouseEvents": true, "color": "#83a3dd", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#83a3dd", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var circle_marker_5766d921df4b24117413ed40be934167 = L.circleMarker(
                [37.330528259277344, -121.83822631835938],
                {"bubblingMouseEvents": true, "color": "#433d52", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#433d52", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var poly_line_e5a3b59669b7ab5c5c19122ba9786243 = L.polyline(
                [[37.330528259277344, -121.83822631835938], [0.0, 0.0]],
                {"bubblingMouseEvents": true, "color": "#433d52", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#433d52", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var poly_line_b8707ab53d311a86d946bd742bc0dc35 = L.polyline(
                [[0.0, 0.0], [0.0, 0.0]],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var poly_line_2526b421765079d6fc2ad9e36c8a700b = L.polyline(
                [[0.0, 0.0], [0.0, 0.0]],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var poly_line_2aae253e7241c4954c35fe1e96670071 = L.polyline(
                [[0.0, 0.0], [0.0, 0.0]],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var poly_line_839c7e5c92be805be538d3f15f8699fe = L.polyline(
                [[0.0, 0.0], [37.404319763183594, -122.16726684570312]],
                {"bubblingMouseEvents": true, "color": "#fb1658", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#fb1658", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var poly_line_28bbede629814b92a8f2964a83b39329 = L.polyline(
                [[37.404319763183594, -122.16726684570312], [32.726600646972656, 74.85700225830078]],
                {"bubblingMouseEvents": true, "color": "#fa604f", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#fa604f", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var poly_line_c1d6973310633cd1b0787f3a8ebbdda9 = L.polyline(
                [[32.726600646972656, 74.85700225830078], [28.542800903320312, 77.28050231933594]],
                {"bubblingMouseEvents": true, "color": "#3aa41c", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3aa41c", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var poly_line_dbe446ce53bdd26bc9126812ca9073c8 = L.polyline(
                [[28.542800903320312, 77.28050231933594], [19.076000213623047, 72.87770080566406]],
                {"bubblingMouseEvents": true, "color": "#0eb9d2", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#0eb9d2", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
    
            var poly_line_42704fc4a3ff21554b2484082741d03e = L.polyline(
                [[19.076000213623047, 72.87770080566406], [37.330528259277344, -121.83822631835938]],
                {"bubblingMouseEvents": true, "color": "#83a3dd", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#83a3dd", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_09f3669c70e96aee112aa004d5a675cd);
        
</script>
</html>