<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a3ef0564e6bed81c6961f89749647a4f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    <div style="position: fixed; bottom: 50px; left: 50px; z-index:9999; font-size:14px;"><p><span style="background-color:#7156b8;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> None</p><p><span style="background-color:#a1cf95;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Secunderabad</p><p><span style="background-color:#14f402;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> New Delhi</p><p><span style="background-color:#e6bcfe;padding:5px;border-radius:50%;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Ashburn</p></div>
    
            <div class="folium-map" id="map_a3ef0564e6bed81c6961f89749647a4f" ></div>
        
</body>
<script>
    
    
            var map_a3ef0564e6bed81c6961f89749647a4f = L.map(
                "map_a3ef0564e6bed81c6961f89749647a4f",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7967070a6acbc7206365a4e6b85990bb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var marker_0a9f15b9bf390473dfcc5e46d51c56ca = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
        var popup_cb52e3f6473e47481e5035839b39856e = L.popup({"maxWidth": "100%"});

        
            
                var html_9b1b670108ed31974d97e4d05d6f4d76 = $(`<div id="html_9b1b670108ed31974d97e4d05d6f4d76" style="width: 100.0%; height: 100.0%;">None, None, None</div>`)[0];
                popup_cb52e3f6473e47481e5035839b39856e.setContent(html_9b1b670108ed31974d97e4d05d6f4d76);
            
        

        marker_0a9f15b9bf390473dfcc5e46d51c56ca.bindPopup(popup_cb52e3f6473e47481e5035839b39856e)
        ;

        
    
    
            var marker_6afd73470c780d353e30417cca295b67 = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
        var popup_43ea5d3cd3434d6976e7368daa302b2d = L.popup({"maxWidth": "100%"});

        
            
                var html_f87d0b60be9f5618a6fb1a0e34f309ff = $(`<div id="html_f87d0b60be9f5618a6fb1a0e34f309ff" style="width: 100.0%; height: 100.0%;">None, None, None</div>`)[0];
                popup_43ea5d3cd3434d6976e7368daa302b2d.setContent(html_f87d0b60be9f5618a6fb1a0e34f309ff);
            
        

        marker_6afd73470c780d353e30417cca295b67.bindPopup(popup_43ea5d3cd3434d6976e7368daa302b2d)
        ;

        
    
    
            var marker_26876b08916a576a6be32fe832de32b8 = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
        var popup_84dd21e6f6386c584da9fdb2701f6cbb = L.popup({"maxWidth": "100%"});

        
            
                var html_85a323be613a8aaa4edcd9295d7e4865 = $(`<div id="html_85a323be613a8aaa4edcd9295d7e4865" style="width: 100.0%; height: 100.0%;">None, None, None</div>`)[0];
                popup_84dd21e6f6386c584da9fdb2701f6cbb.setContent(html_85a323be613a8aaa4edcd9295d7e4865);
            
        

        marker_26876b08916a576a6be32fe832de32b8.bindPopup(popup_84dd21e6f6386c584da9fdb2701f6cbb)
        ;

        
    
    
            var marker_b7858ef50141e761389ab99b4eb4af24 = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
        var popup_90890d91a2412acb12bb5bfdf7574e62 = L.popup({"maxWidth": "100%"});

        
            
                var html_a0379f2a73b0a8211d930c99ee463326 = $(`<div id="html_a0379f2a73b0a8211d930c99ee463326" style="width: 100.0%; height: 100.0%;">None, None, None</div>`)[0];
                popup_90890d91a2412acb12bb5bfdf7574e62.setContent(html_a0379f2a73b0a8211d930c99ee463326);
            
        

        marker_b7858ef50141e761389ab99b4eb4af24.bindPopup(popup_90890d91a2412acb12bb5bfdf7574e62)
        ;

        
    
    
            var marker_064f7d86982ced3ed3a72c0e59ed3fc1 = L.marker(
                [17.506000518798828, 78.53399658203125],
                {}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
        var popup_3569ed15b8b4d779c68778b9377c4a2e = L.popup({"maxWidth": "100%"});

        
            
                var html_908edfc144cce87f0c73772704118171 = $(`<div id="html_908edfc144cce87f0c73772704118171" style="width: 100.0%; height: 100.0%;">Secunderabad, Telangana, India</div>`)[0];
                popup_3569ed15b8b4d779c68778b9377c4a2e.setContent(html_908edfc144cce87f0c73772704118171);
            
        

        marker_064f7d86982ced3ed3a72c0e59ed3fc1.bindPopup(popup_3569ed15b8b4d779c68778b9377c4a2e)
        ;

        
    
    
            var marker_bc501036f1ffc2b432cf387a115f922d = L.marker(
                [28.542800903320312, 77.28050231933594],
                {}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
        var popup_a058c4da9f71670c98e73cd151e0c409 = L.popup({"maxWidth": "100%"});

        
            
                var html_5ce59b422c11bd0a476aaa1551d48d68 = $(`<div id="html_5ce59b422c11bd0a476aaa1551d48d68" style="width: 100.0%; height: 100.0%;">New Delhi, Delhi, India</div>`)[0];
                popup_a058c4da9f71670c98e73cd151e0c409.setContent(html_5ce59b422c11bd0a476aaa1551d48d68);
            
        

        marker_bc501036f1ffc2b432cf387a115f922d.bindPopup(popup_a058c4da9f71670c98e73cd151e0c409)
        ;

        
    
    
            var marker_ab533aa50743ba358b40369c6f70d567 = L.marker(
                [39.043701171875, -77.47419738769531],
                {}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
        var popup_c183c9765b487c52d7b7750893a75b7b = L.popup({"maxWidth": "100%"});

        
            
                var html_a4fa4ed9922148a476b63a944d1726ca = $(`<div id="html_a4fa4ed9922148a476b63a944d1726ca" style="width: 100.0%; height: 100.0%;">Ashburn, Virginia, United States</div>`)[0];
                popup_c183c9765b487c52d7b7750893a75b7b.setContent(html_a4fa4ed9922148a476b63a944d1726ca);
            
        

        marker_ab533aa50743ba358b40369c6f70d567.bindPopup(popup_c183c9765b487c52d7b7750893a75b7b)
        ;

        
    
    
            var circle_marker_b44e10a8053768555a76443c1370ccf6 = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#7156b8", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7156b8", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var circle_marker_6a367c6a3cec9a0dcda364a7edfb1ade = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#7156b8", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7156b8", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var circle_marker_0de08a2ba1ca52dc0a120269fcd7122b = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#7156b8", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7156b8", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var circle_marker_9c9c5892a250169d0860baddb1937ae3 = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#7156b8", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7156b8", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var circle_marker_4d83f124933406bdb2e63a7ee4198609 = L.circleMarker(
                [17.506000518798828, 78.53399658203125],
                {"bubblingMouseEvents": true, "color": "#a1cf95", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#a1cf95", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var circle_marker_8d4c715edfdf3215109bf5f87c2f3d7f = L.circleMarker(
                [28.542800903320312, 77.28050231933594],
                {"bubblingMouseEvents": true, "color": "#14f402", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#14f402", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var circle_marker_9998a0bbd486585da5e43ca0f816b22a = L.circleMarker(
                [39.043701171875, -77.47419738769531],
                {"bubblingMouseEvents": true, "color": "#e6bcfe", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e6bcfe", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var poly_line_331cb030c5f208963f69e6b9fa02422e = L.polyline(
                [[0.0, 0.0], [0.0, 0.0]],
                {"bubblingMouseEvents": true, "color": "#7156b8", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7156b8", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var poly_line_0ebaedf383ebce8a2d39bc98790e9167 = L.polyline(
                [[0.0, 0.0], [0.0, 0.0]],
                {"bubblingMouseEvents": true, "color": "#7156b8", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7156b8", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var poly_line_6af738210b0ad191c276cfea5aace9f0 = L.polyline(
                [[0.0, 0.0], [0.0, 0.0]],
                {"bubblingMouseEvents": true, "color": "#7156b8", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7156b8", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var poly_line_440eb0da3c54907b001ffecefedb443e = L.polyline(
                [[0.0, 0.0], [17.506000518798828, 78.53399658203125]],
                {"bubblingMouseEvents": true, "color": "#7156b8", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#7156b8", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var poly_line_7a0cc291f14f7ac6a95017d6e4b3b04b = L.polyline(
                [[17.506000518798828, 78.53399658203125], [28.542800903320312, 77.28050231933594]],
                {"bubblingMouseEvents": true, "color": "#a1cf95", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#a1cf95", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
    
            var poly_line_4ef4c2e5b32edcaadb879d10bbb7ab97 = L.polyline(
                [[28.542800903320312, 77.28050231933594], [39.043701171875, -77.47419738769531]],
                {"bubblingMouseEvents": true, "color": "#14f402", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#14f402", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a3ef0564e6bed81c6961f89749647a4f);
        
</script>
</html>